[user]
	name = Yoichi Fujimoto
	email = wozozo@gmail.com
[alias]
	ci = commit
	co = checkout
	st = status
	br = branch
	sm = submodule
	gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	d = diff -w
	gg = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	diffprev = diff HEAD^ HEAD -b --
	ranking = shortlog -s -n --no-merges
	edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; gvim `f`"
	add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
	switch = !legit switch \"$@\"
	branches = !legit branches
	sprout = !legit sprout \"$@\"
	unpublish = !legit unpublish \"$@\"
	harvest = !legit harvest \"$@\"
	sync = !legit sync \"$@\"
	publish = !legit publish \"$@\"
	graft = !legit graft \"$@\"
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	grep = auto
[core]
	excludesfile = /home/wozozo/.gitignore
[i18n]
	commitEncoding = UTF-8
	logOutputEncoding = UTF-8
[github]
	user = wozozo
[mergetool]
	keepBackup = true
