# macOS specific
.DS_Store

# Editor specific
*.un~
.vscode/
.idea/
.vim/.netrwhist

# Python specific
.venv/
venv/
*.pyc

# Node.js specific
node_modules/

# Database specific
*.sqlite3

# Environment specific
.direnv/

# dotenvx specific
.env.keys
