[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim.git
	ignore = untracked
[submodule "zsh/z"]
	path = zsh/z
	url = git://github.com/knu/z.git
[submodule "zsh/zaw"]
	path = zsh/zaw
	url = git://github.com/zsh-users/zaw.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git://github.com/tmux-plugins/tpm.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
